@use '../colors';
@use '../mixing';

.searchOrderNav {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$banner-Primary;
  }
}

.searchOrder--container {
  border-bottom: 1px solid colors.$borderLine-Primary;
  padding: 15px;

  ul {
    display: flex;
    justify-content: space-around;
  }

  input,
  select {
    @include mixing.inputFileds;
  }

  .input-search {
    background: url(../../assets/search-input-icon.svg);
    @include mixing.inputFiledsAddIcon;
  }
}

.datePicker {
  width: auto;
}

.downloadIconNav {
  width: 40px;
  cursor: pointer;
}
