@use "../colors";
@use "../mixing";
@use "../general";
.scanOrder--title {
  text-align: center;

  h3 {
    font-weight: 600;
    letter-spacing: 1px;
    color: colors.$font-Primary;
  }

  p {
    font-weight: 300;
    color: colors.$font-Secound;
    font-size: 13px;
  }
}

.scanOrder--wrap {
  text-align: center;
  display: flex;
  flex-direction: column;

  form {
    padding: 10px;
    text-align: center;

    input {
      @include mixing.inputFileds;
    }
  }
}
