@use "../../colors";
@use "../../mixing";
@use "../../general";

.createInventory {
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  p {
    font-size: 16px;
    color: colors.$borderLine-Second;
  }

  form {
    display: flex;
    gap: 30px;

    .createInventory--left,
    .createInventory--right {
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      gap: 7px;
      padding: 30px;

      label {
        font-size: 13px;
        text-align: center;
      }
    }

    .createInventory--left {
      border-right: 1px solid colors.$borderLine-Primary;
    }
    .createInventory--right {
      border-left: 1px solid colors.$borderLine-Primary;
    }

    input,
    select {
      @include mixing.inputFileds;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  button {
    @include mixing.button;
    letter-spacing: general.$spacing;
  }
}

.updateInventory-wrap {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: general.$mobileS) {
  .updateInventory {
    form,
    button {
      transform: translateY(70px);
    }
  }
}
