@use "../../colors";
@use "../../mixing";
@use "../../general";

.inventory-navBar {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid colors.$borderLine-Primary;
  border-bottom: 1px solid colors.$borderLine-Primary;
  color: colors.$font-Secound;
  font-size: 12px;
  padding: 20px;

  .inv-nav,
  .searchInventory,
  .selectCat--inventory {
    background-color: #fff !important;
    border: 1px solid colors.$borderLine-Primary;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;

    &:focus {
      outline: 1px solid colors.$borderLine-Primary;
    }
  }

  .selectCat--inventory {
    background: url("../../../assets/eyeView.svg") no-repeat left center;
    background-size: 15px;
    padding-left: 20px;
  }

  .searchInventory {
    background: url("../../../assets/search-input-icon.svg") no-repeat left
      center;
    padding-left: 20px;
    background-size: 20px;
  }

  .inv-nav {
    font-size: 13px;
    padding: 13px;

    &:nth-child(6) {
      background: url("../../../assets/downloadIcon.svg") no-repeat left center;
      padding-left: 35px;
      background-size: 20px;
    }
  }

  img {
    width: 20px;
  }
}

.inventoryLink {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  color: colors.$font-Secound;
}

@media screen and (max-width: general.$tablet) {
  .inventory-navBar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
