@use '../../colors';
@use '../../general';
@use '../../mixing';

.createService {
  text-align: center;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);

  p {
    margin-bottom: 2rem;
    color: colors.$borderLine-Second;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    button {
      @include mixing.button;
      letter-spacing: general.$spacing;
    }

    input {
      @include mixing.inputFileds();
    }
  }
}
