@use "../colors";
@use "../general";
@use "../mixing";
.addCustomerIcon {
  width: 20px;
}

.customerSearchIcon {
  background: url("../../assets/detailsIcon.svg");
  @include mixing.inputFiledsAddIcon();
}

.orderStepTwo--container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  input {
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid colors.$borderLine-Second;

    &:focus {
      outline: 4px solid colors.$borderLine-Primary;
    }
  }
}

.OrderCustomersList {
  overflow-y: scroll;
  height: 100px;
  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$banner-Primary;
  }

  button {
    cursor: pointer;
    margin: 0 10px;
    background-color: transparent;
    border: none;
    color: colors.$borderLine-Second;
    transition: general.$transition;

    &:hover {
      color: colors.$font-Primary;
    }
  }
}

.addNewCustomer--container {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  cursor: pointer;
}

@media (max-width: general.$mobileS) {
  .orderStepTwo--container {
    flex-direction: column;
  }
}
