@use "../colors";
@use "../mixing";
@use "../general";

.createOrder--nav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid colors.$borderLine-Primary;

    input {
      @include mixing.inputFileds();
      border: none;

      &:focus {
        outline: 1px solid colors.$borderLine-Primary;
      }
    }

    li {
      display: flex;
      gap: 20px;

      select {
        padding: 13px;
        border: none;
        border-radius: 25px;
        cursor: pointer;

        &:focus {
          outline: 1px solid colors.$borderLine-Primary;
        }

        option {
          margin: 1rem;
        }
      }
    }
  }

  img {
    width: 25px;
  }
}

.orderSearchInput {
  background: url("../../assets/search-input-icon.svg");
  @include mixing.inputFiledsAddIcon();
}

// FROM COMPONENT createOrder
.createOrder--container {
  text-align: center;
  margin: auto 0;

  .createOrder--title {
    color: colors.$font-Secound;
  }
}
.createOrder--wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.clickedAddIcon {
  &:active {
    transform: scale(0.7);
  }
}
.removeProductButton {
  background-color: transparent;
  border: none;
}

.xlPopUp {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$banner-Primary;
  }
}

@media (max-width: general.$mobile) {
  .createOrder--nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
