@use "../colors";
@use "../mixing";
@use "../general";

.table-customers {
  width: 100%;
  max-height: 78vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$banner-Primary;
  }

  @include mixing.table;
}
