$banner-Primary: #da0063;
$navbar-Primary: #e0e0e0;
$background-Primary: #f5f5f5;

$font-Primary: #39424e;
$font-Secound: #666666;

$borderLine-Primary: #e0e0e0;
$borderLine-Second: #666666;

$button-Primary: #da0063;
$button-Primary-Dark: #c2055a;
$button-Secoundary: #39424e;

$error: #da0063;
$success: #1e90ff;
