$spacing: 0.2rem;
$transition: all 0.3s linear;
$primary-font: "Poppins", sans-serif;

// RATIO SIZE FOR RESPONSIVE
$mobileS: 640px;
$mobile: 768px;
$tablet: 1024px;
$laptop: 1280px;
$desktop: 1536px;
