@use "./colors";
@use "./general";

.navbarContainer {
  display: flex;
}

.navbar-left {
  height: 100vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: general.$transition;
  background-color: colors.$navbar-Primary;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    background-color: colors.$banner-Primary;
    height: 140px;
    cursor: pointer;

    .appLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      width: 120px;
      border: 1px solid colors.$navbar-Primary;
      border-radius: 50%;
      transition: general.$transition;

      &:active {
        transform: scale(0.95);
        border: 1px solid yellow;
      }

      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .userLoggedin {
    font-weight: 300;
    letter-spacing: general.$spacing;
    // margin-top: -100px;
  }

  .mainNavBar {
    background-color: colors.$background-Primary;
    border-right: 1px solid colors.$borderLine-Primary;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: general.$transition;
    ul {
      text-align: justify;
      // height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: general.$transition;

      li {
        border-bottom: 1px solid colors.$borderLine-Primary;
        padding: 10px;
        transition: general.$transition;

        &:hover {
          background-color: colors.$navbar-Primary;
          color: colors.$banner-Primary;
        }

        i {
          font-size: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}
.active {
  color: colors.$banner-Primary;
}

.activeLink {
  color: colors.$banner-Primary;
  background-color: #fff;
}

.navbar-topTest {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: colors.$background-Primary;
}

.navbar-top {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: right;
  padding: 20px;
  background-color: colors.$banner-Primary;

  i {
    font-size: 39px;
    color: colors.$background-Primary;
    cursor: pointer;
    transition: general.$transition;

    &:active {
      transform: scale(0.99);
    }
  }
}

footer p {
  font-size: 10px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.githubLogo {
  width: 20px;
}

.linkedInLogo {
  width: 50px;
}

// this class close the navbar
.closeOpenNavBar {
  position: absolute;
  transition: all 0.6s linear;
  transform: translateX(-300px);
  z-index: 3;
}

// EYE ICON !
.bx-hide {
  font-size: 25px;
  color: colors.$font-Primary;
  cursor: pointer;
  transition: general.$transition;

  &::after {
    content: "hide navigation";
    color: colors.$font-Primary;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    color: colors.$button-Primary;
    font-size: 1.85rem;
  }
}

.openNavbarBtn__container {
  position: absolute;
  top: 30px;
  left: 20px;
  cursor: pointer;

  &::after {
    content: "Navigation";
    color: #fff;
    font-size: 10px;
  }

  &:hover::after {
    transition: general.$transition;
    font-size: 11px;
  }

  span {
    cursor: pointer;
    font-size: 15px;
    border-left: 3px solid white;
    padding: 3px;

    &:first-child {
      border-color: blue;
    }

    &:nth-child(2) {
      border-color: yellow;
    }
  }
}

@media screen and (max-width: general.$mobile) {
  .navbar-left {
    position: absolute;
    z-index: 3;
    height: calc(100vh + 90px);
  }

  // Logout Icon for mobile view!
  .bx-power-off {
    font-size: 35px;
    color: colors.$button-Primary;
    cursor: pointer;
    transition: general.$transition;

    &::after {
      content: "Logout";
      display: flex;
      flex-direction: column;
      font-size: 13px;
    }

    &:active {
      transform: scale(0.99);
    }
  }
  .overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1;
    transition: all 0.5s;
  }
}
