@use "../colors";
@use "../mixing";
@use "../general";
.createUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 100%;

  form {
    display: flex;
    gap: 60px;
  }
}

.createUserColumn-left,
.createUserColumn-rigth {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 10px;

  input,
  select {
    text-align: center;
    @include mixing.inputFileds();
  }
}

.requiredField {
  color: colors.$borderLine-Second;
}
.createUserBtn {
  @include mixing.button;
  margin-top: 1rem;
  letter-spacing: general.$spacing;
}

@media (max-width: general.$tablet) {
  .createUser {
    transform: scale(1);

    h3,
    form,
    button {
      transform: translateY(30px);
    }
  }
}

@media (max-width: general.$mobile) {
  .createUser {
    transform: scale(0.7);

    h3,
    form,
    button {
      transform: translateY(30px);
    }
  }
}
