@use "../colors";
@use "../mixing";

.createUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 100%;

  form {
    display: flex;
    gap: 60px;
  }
}

.createUserColumn-left,
.createUserColumn-rigth {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 10px;

  input,
  select {
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid colors.$borderLine-Second;

    &:focus {
      outline: 4px solid colors.$borderLine-Primary;
    }
  }
}

.requiredField {
  color: colors.$borderLine-Second;
}
.createUserBtn {
  @include mixing.button;
  margin-top: 1rem;
  padding: 8px 20px;
}
