@use "../colors";
@use "../general";

.managment-container {
  padding: 15px;
  border-bottom: 1px solid colors.$borderLine-Primary;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      img {
        margin: 0 auto;
        width: 25px;
      }
    }
  }
}
