@use "../colors";
@use "../general";

.managment-container {
  padding: 15px;
  border-bottom: 1px solid colors.$borderLine-Primary;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      img {
        margin: 0 auto;
        width: 25px;
      }
    }
  }
}

@media screen and (max-width: general.$mobile) {
  .managment-container {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      gap: 20px;
    }
  }
}
