@use "../colors";
@use "../mixing";

.numericStatsBox {
  //   main container //Location Dashboard page
}

.numericStatsBox--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid colors.$borderLine-Primary;
  padding: 20px;
  text-align: center;

  div {
    border-right: 2px solid colors.$borderLine-Primary;
  }
}
