@use '../colors';
@use '../mixing';

.numericStats--wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

  p {
    color: colors.$font-Primary;
    border-left: 1px solid colors.$banner-Primary;
    padding-left: 13px;
  }
}

.numerStats--chart {
  width: 75%;
  margin: 0 auto;
}

.numericStats-box--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid colors.$borderLine-Primary;
  padding: 15px;

  select {
    background-color: transparent;
    border: none;
    padding: 10px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .total-subtitle {
    font-weight: 700;
  }

  .total--subtitle-value {
    font-size: 14px;
  }
}
