@use "../colors";
@use "../mixing";

.numericStats--wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.numerStats--chart {
  width: 70%;
  margin: 0 auto;
}

.numericStats-box--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid colors.$borderLine-Primary;
  padding: 20px;
  text-align: center;
}
