@use "../general";

.statisticByMonth--wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

// .perMonthLineChart {
//   margin: 0 auto;
//   width: 80%;
// }

.perMonthLineChart {
  margin: 0 auto;
  width: calc(35em - 2rem);
  height: 270px;
}

@media screen and (max-width: general.$mobile) {
  .perMonthLineChart {
    width: 100%;
  }

  .statisticByMonth--wrap {
    gap: 30px;
  }
}
