@use '../../colors';
@use '../../mixing';
@use '../../general';

.orderStatusView {
  width: 100%;
  height: 500px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$banner-Primary;
  }

  @include mixing.table;
  font-size: 15px;

  table {
    input {
      @include mixing.inputFileds;
      padding: 5px;
    }

    button {
      @include mixing.button;
      letter-spacing: general.$spacing;
      background-color: colors.$button-Secoundary;
      padding: 7px 20px;
    }

    .updateBtn {
      background-color: colors.$button-Primary;
    }
  }
}
